* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.weather-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url("https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2VhdGhlciUyMGFwcHxlbnwwfHwwfHx8MA%3D%3D");
  background-attachment: fixed;
background-position: center;
  background-size: cover;
  height: 100vh;
}

.weather-card {
 
  width: 100%;
  max-width: 450px;
  background:transparent;
  backdrop-filter: blur(20px);
  color:white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.weather-card h1 {
  margin-bottom: 15px;
  animation: identifier 3s ease-in-out infinite alternate;
}
@keyframes identifier {
  0% {
    color: white;
  }
  50% {
    color: #2563eb;
  }
  100% {
    color: #2563eb;
  }
  
}
.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  flex: 1;
  height: 45px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0 15px;
}

.search-box button {
  padding: 0 20px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  margin-bottom: 10px;

}


  

.weather-info img {
  width: 120px;
  animation: pop 3s ease-in-out infinite alternate;
}
@keyframes pop {
  from {
    transform: translateY(-20px) scale(1);
  }
  to {
    transform: translateY(0) scale(1.1);
  }
}
.weather-info h3 {
  font-size: 40px;
  margin-bottom: 10px;
  animation: clr 3s ease-in-out infinite alternate;
}
@keyframes clr {
  0% {
    color: white;
  }
  50% {
    color: #d3bc58;
  }
  100% {
    color: #f4ce23;
  }}


.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.details p{
  display: flex;
  align-items: center;
  gap: 5px;
}